.item-display {
  margin-top: 30px;
}

.item-display h2 {
  font-size: max(2vw, 24px);
  font-weight: 600;
}

.item-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}

.skeleton-wrapper{
  background: #f2f2f2;
  border-radius: 12px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .item-display-list {
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    gap: 10px;
  }
}

@media (max-width:380px) {
  .skeleton-wrapper{
    padding:8px 0 8px 0;
  }
}