.item{
    width: 100%;
    height: 373px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}

.item-image{
    width: 100%;
    height: 220px;
    border-radius: 15px 15px 0px 0px;
}

.item-info{
    padding: 20px;
}

.item-info-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.item-info-rating p{
    font-size: 20px;
    font-weight: 500;
}

.item-info-rating img {
    width: 70px;
}

.item-desc {
    color: #676767;
    font-size: 12px;
}

.item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
}

.item-img-container{
    position: relative;
}

.item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.item-counter img{
    width: 30px;
}


@media (max-width:750px) {

    .item{
        width: 100;
        height: 245px;
        margin: auto;
        border-radius: 15px;
        box-shadow: 0px 0px 10px #00000015;
        transition: 0.3s;
        animation: fadeIn 1s;
    }


    .item-image{
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

    .item-info{
        padding: 10px;
    }

    .item-info-rating{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        height: 29px;
    }

     .item-info-rating .rating{
        width: 42px;
    } 
    
    .item-info-rating  p {
        font-size: 12px;
    }

    .item-desc{
        font-size: 9px;
        height: 29px;
    }

    .item-price{
        font-size: 19px;
    }   
        
    
} 

@media (max-width:320px) {
    .item{
        width: 100%;
        height: 235px;
    }
    .item-info-rating  p {
        font-size: 11px;
    }

    .item-desc{
        font-size: 7px;
        height: 20px;
    }

    .item-price{
        font-size: 15px;
    }  
}